.header-navigation{
    background-color: $primary3;

    &__link{ 
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $info-text-color;
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__wrapper{
        padding: 17px 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

